# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

## Voron Design VORON2 300mm BigTreeTech OctoPus V1 TMC2209 UART config

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_460034001850535556323420-if00
restart_method: command

[mcu nhk]
serial: /dev/serial/by-id/usb-Klipper_rp2040_313436333211A6CD-if00
restart_method: command

[skew_correction]

[exclude_object]

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 6000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0



[force_move] # Needed for sensorless homing
enable_force_move: True

#####################################################################
#   Additional Sensors
#####################################################################

[temperature_sensor octopus_temp]
sensor_type: temperature_mcu

[temperature_sensor rpi_temp]
sensor_type: temperature_host

[idle_timeout]
# gcode: TURN_OFF_HEATERS, m84, # Do other stuff like turn off lights
timeout: 1800

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>
